<h1>New Book</h1>

<form method="post" action="/books">
    <div>
        <label>Title</label>
    </div>
    <div>
        <input type="text" title="title" />
    </div>
    
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>