<h1>New Book</h1>
<form method="post" action="/books">
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="title" />
    </div>
    <div>
        <label>Author</label>
    </div>
    <div>
        {{!-- This is a drop down selection for authors --}}
        {{!-- We need to loop over the object sent forward and provide the id to the value and the name to the option --}}
        <select name="author">
            {{#each authors}}
            <option value="{{{this._id}}}">{{{this.name}}}</option>
            {{/each}}
        </select>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>